﻿{{#include}}
	{{{partials}}}/gl-content-head.mustache
{{/include}}

<p class="gl">
	Esta página contém todas as grids registradas no projeto.
</p>

{{#data.gridsystems}}
	{{#grid}}
		{{#include}}
			{{{partials}}}/gl-grid.mustache
		{{/include}}
	{{/grid}}
{{/data.gridsystems}}