﻿{{#include}}
	{{{partials}}}/gl-content-head.mustache
{{/include}}

<!--
	// Unidades //
-->
<h2 id="Unidades" class="gl-header">Unidades</h2>
<p class="gl">
	Unidades base utilizadas no projeto.
</p>
<!--
	// Espaçamentos //
-->
<h3 id="Espacamentos" class="gl">Espaçamentos</h3>
<p class="gl">
	Valores para espaçamentos (padding e margin) utilizados no projeto. Sempre utilizar estas variáveis nos espaçamentos do projeto.
</p>
<div class="gl-example gl-checkers">
	{{#data.spacement}}
		{{#include}}
			{{{partials}}}/gl-spacement.mustache
		{{/include}}
	{{/data.spacement}}
</div>
<div class="gl-callout-important">
	<p>
		Em casos específicos ou exceções, fazer o cálculo com valores múltiplos aos pré-definidos, ex.: <code class="gl">$base-space-size * 5</code> ou <code class="gl">$base-space-size + gl-to-em(10px, $base-font-size);</code> Sempre centralizando no arquivo <code class="gl">_units.scss</code> conforme <a href="https://bitbucket.org/fbiz/hyojun.sass-standards/src/HEAD/sass/source/common/core/config/#markdown-header-espacamentos" target="_blank">explicado neste documento</a>.
	</p>
</div>
<!--
	// Z-index //
-->
<h3 id="Z-index" class="gl">Z-index</h3>
<p class="gl">
	Todos os z-index do projeto devem estar centralizados no arquivo <code class="gl">_units.scss</code> para evitar problemas de manutenção. <a href="https://bitbucket.org/fbiz/hyojun.sass-standards/src/HEAD/sass/source/common/core/config/#markdown-header-z-index">Saiba mais neste documento</a>.
</p>
<div class="gl-example">
	{{#data.z-index}}
		{{#include}}
			{{{partials}}}/gl-z-index.mustache
		{{/include}}
	{{/data.z-index}}
</div>



<!--
	## ABAIXO DAQUI É ESPECÍFICO DA GUIDELINE, PODE APAGAR ##
-->

<!--
	// Examples //
-->
<h2 id="Examples" class="gl-header">Exemplos</h2>
<p class="gl">
	Os wrappers de exemplos devem ser usados em todos os módulos do projeto. Apenas aplique a classe <code class="gl">gl-example</code> no wrapper.
</p>
<div class="gl-example">
	<div class="gl-example">
		<div class="gl-full-width-example">
			Este é um exemplo
		</div>
	</div>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-example&quot;&gt;
  (content)
&lt;/div&gt;</code></pre>

<div class="gl-callout-important">
	<p>
		Veja que todos as caixas de exemplo contém um padding padrão de <code class="gl">45px 10px 20px 10px</code>. Qualquer margin do elemento filho será adicionada ou removida (em casos de margens negativas),
	</p>
	<p>
		Uma boa prática é sempre aplicar valores de margem padrão e colocar características específicas (margem negativa, por exemplo) dentro de escopos específicos, como um wrapper de componente, página específica, etc. Mais informações na apresentação sobre o <a href="http://goo.gl/JXVDC7">Hyojun.sass-standards</a>.
	</p>
</div>

<p class="gl">
	Se um exemplo precisa consumir 100% de largura, como definido num gridsystem, é possível usar a classe <code class="gl">gl-example-full</code> para forçar que o espaço de dentro do seja a largura 100% do site.
</p>

<div class="gl-example-full">
	<div class="gl-example-full">
		<div class="gl-full-width-example">
			This is a full-width example
		</div>
	</div>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-example-full&quot;&gt;
  (content)
&lt;/div&gt;</code></pre>

<p class="gl">
	Se o exemplo precisa estar sobre um fundo escuro, utilize a classe <code class="gl">gl-checkers</code>. Também é útil para funcos semi-transparente.
</p>

<div class="gl-example">
	<div class="gl-example-full gl-checkers">
		<div class="gl-full-width-example">
			This is an example
		</div>
	</div>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-example-full gl-checkers&quot;&gt;
  (content)
&lt;/div&gt;</code></pre>

<p class="gl">
	Se o exemplo precisa estar sobre um fundo mais escuro ainda, utilize a classe <code class="gl">gl-checkers-dark</code>. 
</p>

<div class="gl-example">
	<div class="gl-example-full gl-checkers-dark">
		<div class="gl-full-width-example">
			This is an example
		</div>
	</div>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-example-full gl-checkers-dark&quot;&gt;
  (content)
&lt;/div&gt;</code></pre>


<!--
	// Code examples //
-->
<h3 id="Code-examples" class="gl">Exemplos de código</h3>
<p class="gl">
	Normalmente todos os exemplos devem ser seguidos de um código que o represente. Para implementar, adicione a o elemento <code class="gl">&lt;pre class=&quot;gl&quot;&gt;</code> com um filho <code class="gl">&lt;code&gt;</code>.
</p>
<div class="gl-example">
	<pre class="gl"><code>&lt;p&gt;Hello, I'm a code!&lt;/p&gt;</code></pre>
</div>
<pre class="gl"><code>&lt;pre class=&quot;gl&quot;&gt;&lt;code&gt;(content)&lt;/code&gt;&lt;/pre&gt;</code></pre>
<div class="gl-callout-important">
	<p>
		Como a tag <code class="gl">&lt;pre&gt;</code> considera todos os espaços, considere a indentação como <strong>2 spaces</strong> ao invés de tabs. Também mantenha o começo e final do código colado na tag <code class="gl">&lt;code&gt;</code>.
	</p>
</div>

<p class="gl">
	No exemplo abaixo, considere que cada traço ("-") é um espaço. Esta é a forma de implementar o código de um exemplo:
</p>

<pre class="gl"><code>&lt;pre class=&quot;gl&quot;&gt;&lt;code&gt;&amp;lt;div&amp;gt;
--&amp;lt;p&amp;gt;
----Hello, I'm a code!
--&amp;lt;/p&amp;gt;
&amp;lt;/div&amp;gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>


<!--
	// Example + code //
-->
<h3 id="Example-+-code" class="gl">Exemplo + código</h3>
<p class="gl">
	Exemplo simples da implementação mais simples de exemplo seguido de código:
</p>
<div class="gl-example">
	<div class="gl-example">
		<p>Hi, I'm an example!</p>
	</div>
	<pre class="gl"><code>&lt;p&gt;
  Hi, I'm an example!
&lt;/p&gt;</code></pre>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-example&quot;&gt;
  Hi, I'm an example!
&lt;/div&gt;
&lt;pre class=&quot;gl&quot;&gt;&lt;code&gt;&amp;lt;p&amp;gt;
  Hi, I'm an example!
&amp;lt;/p&amp;gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>

<div class="gl-callout-important">
	<p>
		Quando o exemplo tiver a classe <code class="gl">gl-example-full</code> aplicada, os elementos de código e callout ficarão alinhados automaticamente apenas se forem o próximo elemento.
	</p>
</div>

<!--
	// Notas no código //
-->
<h3 id="Notas-no-código" class="gl">Notas no código</h3>
<p class="gl">
	Quando for necessário anotar alguma informação no código, a classe <code class="gl">gl-note-#</code> pode ser utilizada. O <code class="gl">#</code> pode ser um número de 1 à 9. Logo após o código, utilize uma lista ordenada para ter mais espaço para o comentário:
</p>
<div class="gl-example">
	<pre class="gl"><code>function sum(<strong class="gl-note-1">param1, param2</strong>) {
  alert(param1 + param2);
}</code></pre>
	<ol class="gl">
		<li>
			Parâmetros precisam ser um número.
		</li>
	</ol>
</div>
<pre class="gl"><code>&lt;pre class=&quot;gl&quot;&gt;&lt;code&gt;function sum(&lt;strong class=&quot;gl-note-1&quot;&gt;param1, param2&lt;/strong&gt;) {
  alert(param1 + param2);
}&lt;/code&gt;&lt;/pre&gt;
&lt;ol class=&quot;gl&quot;&gt;
  &lt;li&gt;
    Par&acirc;metros precisam ser um n&uacute;mero.
  &lt;/li&gt;
&lt;/ol&gt;</code></pre>