	{{#data.js.html5shiv}}
	<!--[if lt IE 9]>
	<script src="{{{data.js.html5shiv}}}"></script>
	<![endif]-->
	{{/data.js.html5shiv}}
	
	{{#data.css}}
	<link rel="stylesheet" href="{{{url}}}" media="{{media_query}}">
	{{/data.css}}
	{{#data.css.0}}
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{{{url}}}">
	<script src="dist/html5shiv.js"></script>
	<![endif]-->
	{{/data.css.0}}

{{#include}}
	{{{partials}}}/gl-nojs.mustache
{{/include}}

	{{#data.js}}
	<script>
		(function (s, h) {
			s.async = true;
			s.type = 'text/javascript';
			s.setAttribute("data-main", "{{{page}}}");
			s.src = "{{{core}}}";
			h.appendChild(s);
		}(document.createElement('script'), document.documentElement));
	</script>
	{{/data.js}}
