.gl-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	z-index: $gl-behind-z-index;
	display: none;
	@include box-sizing(border-box);
	> ul {
		&:before {
			padding-top: gl-to-rem($gl-base-space-size + $gl-half-space-size, $gl-discreet-font-size);
			padding-bottom: gl-to-rem($gl-base-space-size + $gl-half-space-size, $gl-discreet-font-size);
			box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}
		> li {
			display: block;
			box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}
	}
}

.gl-nav-child {
	li {
		display: block;
	}
	a {
		&:before {
			content: "\e600";
			font-family: $gl-icon-font-family;
			vertical-align: gl-to-rem(-1px, $gl-discreet-font-size);
			margin-right: $gl-half-space-size;
		}
	}
}

.gl-nav-toggle {
	@extend %gl-btn;
	@extend %gl-image-replacement;
	display: block;
	position: absolute;
	top: $gl-base-space-size;
	left: $gl-base-space-size;
	z-index: $gl-context-z-index;
	width: gl-to-em(35px, $gl-discreet-font-size);
	height: gl-to-em(35px, $gl-discreet-font-size);
	padding: 0;
	@include gl-button-variant($gl-nav-toggle-text-color, $gl-nav-toggle-bg-color, $gl-nav-toggle-bg-color);

	&:before {
		content: "\e600";
		font-family: $gl-icon-font-family;
		position: absolute;
		top: 0;
		left: gl-to-em(4px, 28px);
		text-indent: 0;
		font-size: gl-to-em(28px, $gl-discreet-font-size);
		line-height: gl-to-em(37px, 28px);
	}
}

.gl-nav-toggle,
.gl-wrapper {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-ms-transition: -ms-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.gl-nav-open {
	overflow-x: hidden;
	body {
		overflow: hidden;
	}
	.gl-nav-toggle {
		&:before {
			left: gl-to-em(3px, 28px);
			content: "\e601";
		}
	}
	.gl-nav {
		display: block;
	}
	.gl-wrapper {
		box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
	}
}