.gl-nav {
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $gl-context-z-index;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	> ul {
		&:before,
		> li {
			display: inline-block;
			margin-left: gl-to-em(-$gl-inline-block-space-size, $gl-nav-font-size);
		}
		> li:hover {
			.gl-nav-child {
				display: block;
			}
		}
	}
	.lt-ie9 & {
		border-bottom: 1px solid $gl-header-bg-color-from;
	}
}
.gl-nav-child {
	position: absolute;
	display: none;
	width: 100%;
	top: 100%;
	left: 0;
	background-color: $gl-header-bg-color-from;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	> ul {
		&:before,
		> li {
			display: inline-block;
			margin-left: gl-to-em(-$gl-inline-block-space-size, $gl-nav-font-size);
		}
	}
}

.gl-nav-toggle {
	display: none;
}