@import "true/sass/true";

@mixin gl-override-theme-colors {
	$gl-theme-main-color: #806f17 !global;
}
@mixin gl-override-color-palette {
	$gl-group-main-light10: gl-hsl-diff($gl-theme-main-color, 9.71, 24.58, 63.73) !global; //#FEFEDE
}
@mixin gl-override-color-exceptions {
	$gl-callout-important-bg-color: #806f17 !global;
}
@mixin gl-override-color-base {
	$gl-base-border-color: #806f17 !global;
}
@mixin gl-override-color-project {
	$gl-content-bg: #806f17 !global;
}
@mixin gl-override-font-size-table {
	$gl-base-font-size: 20px !global;
}
@mixin gl-override-font-weight {
	$gl-light-font-weight: 555 !global;
}
@mixin gl-override-z-index {
	$gl-behind-z-index: 1 !global;
}
@mixin gl-override-font-size-base {
	$gl-base-pre-font-size: 20px !global;
}
@mixin gl-override-font-size-project {
	$gl-header-title-font-size: 20px !global;
}
@mixin gl-override-measure {
	$gl-base-space-size: 20px !global;
}
@mixin gl-override-misc {
	$gl-checkers-size: 50px !global;
}
@mixin gl-override-grids {
	@include gs-clear-grid-list();
	@include gs-register-grid(gl-wide, 500px, 14, 10px, auto);
}


@import
"../source/common/wrappers/lib",
"../source/common/core/config";

@include test-module("Override variables using 'callback' mixins") {
	@include test("Override theme main colors") {
		@include assert-equal($gl-theme-main-color, #806f17, "$gl-theme-main-color should be #806f17.");
		@include assert-equal($gl-group-main-dark10, #5f5210, "$gl-group-main-dark10 should be #5f5210.");
	}
	@include test("Override color group") {
		@include assert-equal($gl-group-main-light10, #fefede, "$gl-group-main-light10 should be #fefede.");
	}
	@include test("Override color exception") {
		@include assert-equal($gl-callout-important-bg-color, #806f17, "$gl-callout-important-bg-color should be #806f17.");
	}
	@include test("Override base color") {
		@include assert-equal($gl-base-border-color, #806f17, "$gl-base-border-color should be #806f17.");
	}
	@include test("Override project color") {
		@include assert-equal($gl-content-bg, #806f17, "$gl-content-bg should be #806f17.");
	}
	@include test("Override font-size table") {
		@include assert-equal($gl-base-font-size, 20px, "$gl-base-font-size should be 20px.");
	}
	@include test("Override base font-size") {
		@include assert-equal($gl-base-pre-font-size, 20px, "$gl-base-pre-font-size should be 20px.");
	}
	@include test("Override project font-size") {
		@include assert-equal($gl-header-title-font-size, 20px, "$gl-header-title-font-size should be 20px.");
	}
	@include test("Override base measures") {
		@include assert-equal($gl-base-space-size, 20px, "$gl-base-space-size should be 20px.");
		@include assert-equal($gl-double-space-size, 40px, "$gl-double-space-size should be 40px.");
	}
	@include test("Override font-weight") {
		@include assert-equal($gl-light-font-weight, 555, "$gl-light-font-weight should be 555.");
	}
	@include test("Override z-index") {
		@include assert-equal($gl-behind-z-index, 1, "$gl-behind-z-index should be 1.");
	}
	@include test("Override misc") {
		@include assert-equal($gl-checkers-size, 50px, "$gl-checkers-size should be 50px.");
	}
	@include test("Override grid") {
		@include assert-equal(gs-value("gl-wide", $gs-site-width), 500px, "'gl-wide' grid should be 500px wide.");
	}
}