@Guideline.CharTable(new {
	title = "Helvetica Neue",
	name = "main",
	description = "The default font of the project. Used on <code class=\"gl\">body</code> tag.",
	glyphs = new string[] {
		"A","B","C","D","E","F","G","H","I","J","K","W","L","M","N","O","P","Q","R",
		"S","T","U","V","X","Y","Z","a","b","c","d","e","f","g","h","i","j","k","w",
		"l","m","n","o","p","q","r","s","t","u","v","x","y","z","á","à","ã","â","ä",
		"é","è","ê","ë","í","ì","î","ï","ó","ò","õ","ô","ö","ú","ù","û","ü","ç","Á",
		"À","Ã","Â","Ä","É","È","Ê","Ë","Í","Ì","Î","Ï","Ó","Ò","Õ","Ô","Ö","Ú","Ù",
		"Û","Ü","Ç","0","1","2","3","4","5","6","7","8","9","\"","'","ª","º",".",",",
		";","-","<",">","_","=","+","-","/","?","[","]","!","@","#","{","}","$","%",
		"(",")","&","*","'","º","¹","²","³","£","¢","¬","§","“","”","‘","’","ñ","Ñ",
		"¿","¡","ª","º","®","©","™"
	}
})
@Guideline.CharTable(new {
	title = "Monaco",
	name = "monospaced",
	description = "Font used on <code class=\"gl\">code</code> tags to show example codes.",
	glyphs = new string[] {
		"A","B","C","D","E","F","G","H","I","J","K","W","L","M","N","O","P","Q","R",
		"S","T","U","V","X","Y","Z","a","b","c","d","e","f","g","h","i","j","k","w",
		"l","m","n","o","p","q","r","s","t","u","v","x","y","z","á","à","ã","â","ä",
		"é","è","ê","ë","í","ì","î","ï","ó","ò","õ","ô","ö","ú","ù","û","ü","ç","Á",
		"À","Ã","Â","Ä","É","È","Ê","Ë","Í","Ì","Î","Ï","Ó","Ò","Õ","Ô","Ö","Ú","Ù",
		"Û","Ü","Ç","0","1","2","3","4","5","6","7","8","9","\"","'","ª","º",".",",",
		";","-","<",">","_","=","+","-","/","?","[","]","!","@","#","{","}","$","%",
		"(",")","&","*"
	}
})
@Guideline.CharTable(new {
	title = "Icons",
	name = "icon",
	description = "Project's icon pack.",
	glyphs = new string[] {
		"\\e600", "\\e601"
	}
})