%gl-btn {
	@extend %gl-base-text;
	display: inline-block;
	margin: 0; // For input.btn
	font-weight: $gl-regular-font-weight;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	white-space: nowrap;
	padding: gl-to-em($gl-half-space-size, $gl-base-font-size) gl-to-em($gl-base-space-size, $gl-base-font-size);
	font-size: gl-to-em($gl-base-button-font-size, $gl-base-font-size);
	line-height: 1.5;
	border-radius: $gl-base-radius-size;
	@include user-select(none);

	&:focus {
		outline: none;
	}

	&:hover,
	&:focus {
		color: $gl-button-default-text-color;
		text-decoration: none;
	}

	&:active,
	&.active {
		outline: 0;
		background-image: none;
		box-shadow: inset 0 3px 5px $gl-base-box-shadow-color;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none; // Future-proof disabling of clicks
		opacity: 0.65;
		box-shadow: none;
	}
}