
///////////////////
// FONT FAMILIES //
///////////////////

$gl-font-family-example-list: () !default;
@each $gl-font-family in $gl-font-family-example-list {
	@include gl-font-family-example(nth($gl-font-family, 1), nth($gl-font-family, 2));
}

////////////////
// FONT SIZES //
////////////////

$gl-font-size-example-list: () !default;
@each $gl-font-size in $gl-font-size-example-list {
	@include gl-font-size-example(nth($gl-font-size, 1), nth($gl-font-size, 2), nth($gl-font-size, 3));
}

//////////////////
// FONT WEIGHTS //
//////////////////

$gl-font-weight-example-list: () !default;
@each $gl-font-weight in $gl-font-weight-example-list {
	@include gl-font-weight-example(nth($gl-font-weight, 1), nth($gl-font-weight, 2));
}

////////////////
// SPACEMENTS //
////////////////
$gl-spacement-example-list: () !default;
@each $gl-spacement in $gl-spacement-example-list {
	@include gl-spacement-example(nth($gl-spacement, 1), nth($gl-spacement, 2), nth($gl-spacement, 3));
}

/////////////////
// GRIDSYSTEMS //
/////////////////

$gs-labels: () !default;
@each $n in $gs-labels {
	@include gl-gridsystem-example($n);
}

/////////////
// Z-INDEX //
/////////////

$gl-z-index-example-list: () !default;
@each $gl-z-index in $gl-z-index-example-list {
	@include gl-z-index-example(nth($gl-z-index, 1), nth($gl-z-index, 2));
}