.gl-float-example-wrapper {
	@extend %gl-float-wrapper;
	.gl-wrap + .gl-wrap {
		margin-top: $gl-base-space-size;
	}
}
.gl-float-example {
	@extend %gl-base-text;
	float: left;
	padding: $gl-base-space-size;
	margin-right: $gl-base-space-size;
	width: gl-to-em(150px, $gl-base-font-size);
	height: gl-to-em(150px, $gl-base-font-size);
	background: $gl-float-example-bg-color;
}