@mixin gl-spacement-example ($name, $value, $base) {
	$new-value: gl-to-number($value);
	.gl-#{$name}-space-size {
		border-top-width: $value;
		&:after {
			@if unit($value) == unit($base) {
				content: "#{$value}";
			} @else {
				content: "#{$value} = #{$new-value * $base}";
			}
		}
	}
}
