
////////////////////////
// PROJECT TYPOGRAPHY //
////////////////////////

$gl-main-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$gl-monospaced-font-family: Monaco, Menlo, Consolas, "Courier New", monospace !default;
$gl-icon-font-family: "gl-icons" !default; //just as example

$gl-font-family-example-list: (
	("main", $gl-main-font-family),
	("monospaced", $gl-monospaced-font-family),
	("icon", $gl-icon-font-family)
) !default;