// lists
ul.gl,
ol.gl {
	@extend %gl-base-text;
	font-size: gl-to-em($gl-content-font-size, $gl-base-font-size);
	margin: $gl-base-space-size 0;
	padding-left: $gl-double-space-size;
	li {
		margin-top: gl-to-em($gl-base-space-size, $gl-content-font-size);
		&:first-child {
			margin-top: 0;
		}
	}
}

ol.gl {
	list-style-type: none;
	font-size: gl-to-em($gl-discreet-font-size, $gl-base-font-size);
	padding-left: gl-to-em(22px, $gl-discreet-font-size);
	line-height: 1.5em;
	color: $gl-order-list-text-color;
	li {
		position: relative;
		counter-increment: section;
		min-height: gl-to-em(19px, $gl-discreet-font-size);
		&:before {
			@extend %gl-base-note;
			position: absolute;
			top: 0;
			left: gl-to-em(-22px, $gl-footnote-font-size);
			content: counter(section);
		}
	}
}