.gl-note {
	position: relative;
	font-weight: normal;
	padding-right: gl-to-em($gl-double-space-size + $gl-half-space-size, $gl-discreet-font-size);
	&:after {
		@extend %gl-base-note;
		position: absolute;
		top: gl-to-em(-2px, $gl-discreet-font-size);
		right: gl-to-em($gl-minor-space-size, $gl-discreet-font-size);
		@include transition(-webkit-transform 0.2s ease-out);
	}
	&:hover:after {
		@include transform(scale(1.2));
	}
}
@for $i from 1 through 9 {
	.gl-note-#{$i} {
		@extend .gl-note;
		&:after {
			content: "#{$i}";
		}
	}
}