/////////////////////
// FONT TABLE SIZE //
/////////////////////

@mixin gl-override-font-size-table {
	$gl-head-font-size: 45px !default !global;
	$gl-title-font-size: 33px !default !global;
	$gl-sub-title-font-size: 28px !default !global;
	$gl-item-title-font-size: 22px !default !global;
	$gl-lead-font-size: 19px !default !global;
	$gl-discreet-title-font-size: 18px !default !global;
	$gl-content-font-size: 16px !default !global;
	$gl-discreet-font-size: 14px !default !global;
	$gl-footnote-font-size: 12px !default !global;
}

///////////////////
// PROJECT TEXTS //
///////////////////

@mixin gl-override-font-size-project {
	$gl-chartable-font-size: $gl-item-title-font-size !default !global;
}